		body {margin-top: 1.0em;font 12px/1.34em Arial,Helvetica,sans-serif; color: #696969;}
    #container { margin: 0 auto; width: 700px; }
		h1 { font-size: 3.8em; color: #464646; margin-bottom: 3px; }
		h1 .small { font-size: 0.4em; }
		h1 a { text-decoration: none }
		h2 { font-size: 1.5em; color: #464646; }
    h3 {  font-size: 1.3em; text-align: center; color: #464646; }
    h4 {  font-size: 1.1em; text-align: center; color: #464646; }
    a { color: #BE3C1E; }
    .description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
    .download { float: right; }
		pre { background: #000; color: #fff; padding: 15px;}
    hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
    .footer { text-align:center; padding-top:30px; font-style: italic; }
    ul.box{ width: 600px; margin: 20px 0; clear: right; height: 250px; padding:0;}
    .box li {width: 120px; height: 120px; border: 2px solid #ccc; margin: 10px; float:left; list-style:none; padding: 20px}
  
  
.tab { padding: 0 5px 5px 5px; width: 250px; background: #ccc; border: 1px solid #505050; font-size: 1.2em; }
.tab a.handle{  width:25px; height: 25px; }
.tab ul { padding: 0 4px 0 22px;}
.tab h3 { text-align: left; }

#importTab a.handle, #topTab a.handle{ background-image:url(img/import_tab.png); }
#helpTab a.handle{ background-image:url(img/help_tab.png); }
#toolTab a.handle{ background-image:url(img/tool.png);  width:60px; height: 60px; }
#toolTab.tab{  width: 180px; padding:0;}

#bottomTab a.handle{ background-image:url(img/freakyphones_logo.png);  width:75px; height: 76px; }
#bottomTab { width: 450px;}
  
.hidden{display:none;}  
  